h1 {
    text-align: center;
    color: #ff7042;
}

button {
    width: 30px;
    height: 30px;
}
td,th {
    padding : 5px;
}
input {
    width:152.1px;
    text-align: right;
}
table {
    background-color: #6b807d;
}

