h1 {
    text-align: center;
    color: #ff7042;
    font-family: Rockwell;
    font-size: x-large;
}

button {
    width: 35px;
    height: 35px;
    border-radius: 11px;
}
td,th {
    padding : 2px;
}
input {
    width:155px;
    text-align: right;
}
table {

}


